.tab{
    padding: 0 10%;
    margin-bottom: 2%;
}
.tab a{
    color: black;
    text-decoration: none;
}

.tab__nav {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab__el {
    padding: 10px ;
    text-decoration: none;
}
.tab__container{
    background-color: beige;
}
.tab__el:hover{
    background-color: beige;
    transform: scale(1.2);
    transition:  0.5s ease;
}
.tab__el--active a{
    text-decoration: underline;
    color: black;
    font-size: 16px;
    text-decoration-color: chartreuse;
}
.tab__el--active{
    background-color: beige;
    transform: scale(1.2);
}
.tab--a{
    .tab__container{
        position: relative;
        overflow: hidden;
        transition: height 0.4s;

    }
    .tab__content{
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    .tab__content--active{
        opacity: 1;
        pointer-events: all;
    }
}


