

.tab{
    padding: 0 10%;
    margin-bottom: 2%;
}
.tab a{
    color: black;
    text-decoration: none;
}

.tab__nav {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.tab__el {
    padding: 10px ;
}
.tab__container{
    background-color: beige;
}


.tab__el--active a{
    background: beige;
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}
.tab__el--active{
    background-color: beige;
}
.tab--a{
    .tab__container{
        position: relative;
        overflow: hidden;
        transition: height 0.4s;

    }
    .tab__content{
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
    }

    .tab__content--active{
        opacity: 1;
        pointer-events: all;
    }
}

.tab--b{
    .tab__container{
        position: relative;
        overflow: hidden;
        transition: height 0.3s;
    }

    .tab__content{
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s;
    }
    .tab__content--active ~ .tab__content{
        transform: translateX(100%);
    }

    :has(~ .tab__content--active){
        transform: translateX(-100%);
    }

    
}
