body{
    font-family: sans-serif;
    margin: 0;
    line-height: 1.4;;
}
.slider{
    margin: 50px;
}
.slider__list{
    list-style: none;
    padding: 0;
    margin: 0;

    width: 100%;
    overflow: hidden;
    height: 60vh;
    position: relative;
}
.slider__el{
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;

    > :first-child{
        margin-right: -5%;
        opacity: 0;
        transition: opacity .4s, transform .4s;
        transform: translateX(10vw);
    }

    > :last-child{
        margin-left: -5%;
        opacity: 0;
        transition: opacity .4s, transform .4s;
        transform: translateX(-10vw);
    }
}
.slider__content{
    background-color: rgb(255, 225, 170);
    padding: 15px;
    z-index: 1;
    width: 45%;
}
.slider__img{
    max-width: 100%;
    height: auto;
    width: 60%;
}
.slider__el--show{
    pointer-events: all;

    > :first-child{  
        opacity: 1;
        transform: translateX(0);
    }

    > :last-child{
        opacity: 1;
        transform: translateX(0);
    }
}
.slider__el--show button {
    cursor: pointer;
}

